.outerDiv {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.navbar {
  flex-shrink: 0; /* Prevent navbar from shrinking */
}

.box {
  flex-grow: 1; /* Allow box to grow and take available space */
  padding: 20px;
  overflow-y: auto; /* Add scrolling if content overflows */
}

.mainbody {
  margin: 20px 0;
}

.historyTable {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.historyTable th,
.historyTable td {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: left;
}

.historyTable th {
  background-color: #f4f4f4;
}
.greenText {
  color: #11993a;
  font-weight: bold;
}
.redText {
  color: #ef544c;
  font-weight: bold;
}
.errorMessage {
  color: red;
  margin: 10px 0;
}
